# Normalize line endings to LF.
* text eol=lf
# Ensure that line endings for DOS batch files are not modified.
#*.bat -text


# All files are checked into the repo with LF
#* text=auto

# These files are checked out using CRLF locally
#*.bat eol=crlf