<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%highlight{%d [%t] %-5level %c{1.}: %msg%n%throwable}{FATAL=white, ERROR=red, WARN=blue, INFO=green, DEBUG=green, TRACE=blue}" />
		</Console>
		<!-- <File name="MyFile" fileName="all.log" immediateFlush="false" append="false"> 
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} 
			- %msg%n"/> </File> -->
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<!-- <AppenderRef ref="MyFile"/> -->
		</Root>
		<Logger name="org.corant" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>